  <br>
  <div class="container contenedor-animes">
  <div class="row">
    <p>La cantidad total de episodios es {{totalEpisodios}} y el rating promedio es {{ratingPromedio}}</p>
    
    <div class="col-4" *ngFor="let anime of animes">
      <div class="card" style="width: 17rem;">
      
        <p>{{anime.name}}</p>
        <img src={{anime.img}} class="card-img-top" alt="anime image" width=100%>
        <hr>
        <div class="card-body">
          <p>⭐{{anime.Rating}} <b>Categories: </b>{{anime.categorie}}</p>
          <a routerLink="/animes/{{anime.id}}" class="btn btn-primary" (click)="onSelected(anime)">More information</a>
      </div>
    </div>
    </div>

        
   

  </div>
</div>
