<div class="container-fluid">
  <div class="row">

    <div class="card">
      <dl>
        <p class="h3">{{ anime.name }}</p>
        <dt class="bold">Description</dt>
        <dd>{{ anime.description }}</dd>
        <hr />
        <dt>Rating ⭐</dt>
        <dd>{{ anime.Rating }}</dd>
        <hr />
        <dt>Studio</dt>
        <dd>{{ anime.studio }}</dd>
        <hr />
        <dt class="bold">Number of episodes</dt>
        <dd class="caption">{{ anime.episode }}</dd>
        <hr />

      </dl>
    </div>
    <div class="col-3">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ anime.img }}"
        />
      </div>
    </div>

    
    <div class="FlexBox">

      <div class="1" *ngFor="let seas of anime.SeasonName">
        <p> {{seas}}  </p>
      </div>

    
      <div class="2" *ngFor="let cap of anime.SeasonChapters">
        <p> {{cap}}  </p>
      </div>

    </div>

    <a routerLink="/animes/list" class="btn btn-primary"> Regresar</a>

  </div>
 </div>
